<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774450215009-tm2vl36a1g3nvctkeq749vj13gbh6jbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774450215009-tm2vl36a1g3nvctkeq749vj13gbh6jbg</string>
	<key>API_KEY</key>
	<string>AIzaSyBP4jOxqQ5I8mAZLQdMlosZDqUTa6bo5B0</string>
	<key>GCM_SENDER_ID</key>
	<string>774450215009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ua.guseura.House</string>
	<key>PROJECT_ID</key>
	<string>house-59e2e</string>
	<key>STORAGE_BUCKET</key>
	<string>house-59e2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774450215009:ios:784456f7b7fa4bdbef5220</string>
</dict>
</plist>